body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container_header {
  display: flex;
  justify-content: center;
}

.content_header {
  width: 90vw;
}
.navbar_header {
  height: 70px;
  background-color: #141414;
}
.firstPart_header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.a_header {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.secondPart_header {
  background-color: rgba(236, 241, 242, 1);
  height: 90px;
}
.thirdPart_header {
  background-color: #141414;
  height: 70px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #e9edef;
  border: 1px solid #04040480;
  border-radius: 3px;
  padding: 10px;
  width: 350px;
  gap: 10px;
}

.search-icon {
  font-size: 16px;
  margin-right: 10px;
  color: #a0a0a0;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #333;
}

input[type="text"]::placeholder {
  color: #a0a0a0;
}
.spanTwo_header {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  font-size: 18px;
  background: none;
  color: white;
  border: none;
}
.menu-item:hover {
  color: orange;
}

.menu-item.active {
  color: orange;
  /* position: relative; */
  transition: 0.3s;
  border-bottom: 2px solid orange;
}
.span_header {
  font-size: 16px;
  font-weight: 500;
  color: rgba(127, 127, 127, 1);
}
.left_header {
  margin-top: 5vh;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.mainContent_header {
  gap: 2vw;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}
.h1_header {
  font-size: 24px;
  font-weight: 700;
  margin-right: 1vw;
}

.firstBox_header {
  box-shadow: 0 0 10px 0 gainsboro;
  width: 50vw;
  padding: 2vw;
}
.green_header {
  color: rgba(36, 173, 83, 1);
  font-weight: 500;
  margin: 5vh 0 5vh 0;
}
.bkSpan_header {
  font-size: 18px;
  font-weight: 500;
}
.dropdown_header {
  display: flex;
  gap: 20px;
  width: 30vw;
  flex-direction: column;
}

.dropbtn_header {
  background-color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #04040426;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.arrow_header {
  border: solid yellow;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a {
  color: black;
}

.dropdown-content_header {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content_header a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.dropdown-content_header a:hover {
  background-color: black;
  color: white;
}

.dropdown_header:hover .dropdown-content_header {
  display: block;
}

.dropdown_header:hover .dropbtn_header {
  background-color: #3e3e3e;
}

.form-group_header {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group_header::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: translateY(-50%) rotate(45deg);
}

.price_header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.bonus_header {
  font-size: 14px;
  color: gray;
}

.quantity_header {
  justify-content: space-between !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.black_btn_header {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  height: 40px;
}

.quantity_header input {
  width: 60px;
  text-align: center;
  background-color: #d2d2d212;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.buttons_header {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons_header button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.buttons_header .cart_header {
  background-color: #fbbd05;
}

.buttons_header .buy-now_header {
  background-color: #000;
  color: white;
}

.tooltip_header {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip_header .tooltip-icon_header {
  background-color: #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #ccc;
}

.tooltip_header .tooltip-text_header {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.tooltip_header:hover .tooltip-text_header {
  visibility: visible;
}


.left-section_header {
  width: 45%;
}
.right-section_header {
  width: 45%;
}
.image_header {
  width: 100%;
  border-radius: 10px;
}
.product-info_header {
  list-style-type: none;
  padding: 0;
}
.product-info_header li {
  margin-bottom: 10px;
}
.price_header {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}
.button_header {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0a500;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.button_header:hover {
  background-color: #d48900;
}

.content_container_header {
  box-shadow: 0px 4px 20px 0px #0000001a;
  margin: 120px 80px;
  padding: 30px;
}

.tabs_header {
  display: flex;
  border-bottom: 1px solid #14141426;
  justify-content: space-between;
}

.tab_header {
  padding: 0px 0px 20px 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #14141480;
}

.tab_header.active_header {
  border-bottom: 2px solid #e8aa31;
  color: #141414;
  font-weight: 700;
}

.tab-content_header {
  font-size: 18px;
  color: #141414;
  font-weight: normal;
  text-align: left;
  line-height: 27px;
  padding: 30px 128px 0px 0px;
}

.tab-content_header strong {
  font-weight: 500;
}
